/* App.css */
/* .app.light-theme {
    background-color: #f8f9fa;
    color: #212529;
  }
  
  .card {
    transition: 0.3s;
  }
  .card:hover {
    transform: scale(1.05);
  } */

 
  .app.light-theme {
    background: url('/src/assets/portFolio-bg\ \(2\).webp') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
  }
  
  